*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Poppins;
  src: url("/fonts/Poppins-Regular.woff2") format("woff2"),
    url("/fonts/Poppins-Regular.woff") format("woff"),
    url("/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Poppins;
  src: url("/fonts/Poppins-SemiBold.woff2") format("woff2"),
    url("/fonts/Poppins-SemiBold.woff") format("woff"),
    url("/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

:root {
  --accent: 124, 58, 237;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    #da62c4 30%,
    white 60%
  );
  --bkg: 222 47.4% 11.2%;
  --bkg-alt: 226 58.3% 18.8%;
  --text: 226 100% 93.9%;
  --text-alt: 226 22.1% 73.3%;
  --muted: 230 39% 67.8%;
  --white: 255 100% 100%;
  --accent1: 243 70% 65%;
  --accent2: 184 56% 54%;
  --accent3: 63 84% 80%;
  --gradient: linear-gradient(
    94.55deg,
    hsl(var(--accent2)) -4.6%,
    hsl(var(--accent3)) 99.9%
  );
}

body {
  background-color: hsl(var(--bkg));
  font-family: Poppins, sans-serif, system-ui;
  font-weight: 400;
  line-height: 1.55;
  max-width: 2000px;
  margin: auto;
  color: hsl(var(--text));
}

code {
  font-family: Menlo, Monaco, "Lucida Console", "Liberation Mono",
    "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

.btn {
  color: hsl(var(--text));
  text-decoration: none;
  padding: var(--size-2) var(--size-fluid-4);
  border-radius: var(--radius-2);
  cursor: pointer;
  border: none;
  font-size: var(--font-size-fluid-0);
}

.btn-transparent:hover {
  background-color: hsl(var(--white) / 10%);
}

.btn-primary {
  background-color: hsl(var(--accent1));
}

.btn-primary:hover {
  background-color: hsl(var(--text-alt));
}

.btn-secondary {
  background: hsl(var(--accent2));
}

.btn-secondary:hover {
  background-color: hsl(var(--muted));
}

.btn-muted {
  background-color: hsl(var(--muted));
}

.btn-outline {
  border: var(--border-size-1) solid currentcolor;
  background-color: transparent;
}

.btn-outline.btn-tertiary {
  color: hsl(var(--accent3));
}

.btn-outline.btn-tertiary:hover {
  background-color: hsl(var(--accent3));
  color: hsl(var(--bkg));
  border-color: hsl(var(--accent3));
}

h1 {
  font-size: var(--font-size-fluid-3);
}

h2 {
  font-size: var(--font-size-fluid-2);
  scroll-margin: 0 0 var(--size-fluid-4);
  color: hsl(var(--accent3));
}

h3 {
  font-size: var(--font-size-fluid-1);
  color: hsl(var(--accent2));
}

h4 {
  font-size: var(--font-size-fluid-0);
}

p {
  font-size: var(--font-size-fluid-0);
}

a {
  color: inherit;
  text-decoration: inherit;
}

.container {
  --nav-height: calc(var(--size-2) * 2 + 1rem + var(--size-fluid-2) * 2);

  width: 100%;
  margin: auto;
  max-width: 1500px;
  padding: 0 var(--size-fluid-2) 0;
  scroll-margin: var(--nav-height);
}

label {
  font-size: var(--font-size-1);
  line-height: var(--font-lineheight-1);
  text-align: left;
  text-transform: uppercase;
  padding: var(--size-2) var(--size-1);
}

.form-control {
  display: flex;
  flex-direction: column;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
