---
import { Image } from "@astrojs/image/components";
import myPhoto from "@images/photo.jpg";
---

<section class="container" id="about">
  <h2>About Me</h2>
  <div class="about-content">
    <Image src={myPhoto} alt="My photo" width={128} format="webp" />

    <div class="about-text">
      <p>
        Hi! I'm Carlos Gamino, a Full Stack Web Developer from Xalapa, Veracruz
        graduated in Universidad Veracruzana.
      </p>
      <p>I'm a passionate about technology, videogames and football.</p>
      <p>
        I completed a master's degree in Electronic Engineering and Computer
        Science.
      </p>
      <div class="about-me-actions">
        <button class="btn btn-secondary">More about me</button>
      </div>
    </div>
  </div>
</section>

<style>
  img {
    --size: 200px;

    border-radius: 50%;
    height: var(--size);
    width: var(--size);
    margin: 0 0 var(--size-fluid-3);
  }

  .about-me-actions {
    width: 60ch;
    margin: var(--size-fluid-2) auto auto;
  }

  h2 {
    text-align: center;
    margin: 0 0 var(--size-fluid-4);
  }

  .about-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }

  p {
    max-width: 60ch;
    font-size: var(--font-size-1);
    word-wrap: break-word;
    margin: auto;
  }

  .about-text {
    padding: var(--size-fluid-2);
  }

  .about-text p:first-child {
    text-indent: 2ch;
  }

  .about-text p:nth-child(2) {
    text-indent: 2ch;
    margin-top: var(--size-fluid-2);
  }

  button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  @media (min-width: 1024px) {
    img {
      --size: 250px;

      margin: 0;
    }

    .about-content {
      flex-direction: row;
    }

    .about-me-actions {
      max-width: 45ch;
    }

    p {
      max-width: 45ch;
    }
  }
</style>
