---
import { Image } from "astro:assets";
import myDesktop from "@images/desktop.jpg";
---

<section class="container" id="about">
  <h2>Sobre Mí</h2>
  <div class="about-content">
    <Image src={myDesktop} alt="Mi escritorio" height={720} width={1277} />
    <div class="about-text">
      <p>
        ¡Hola! Soy Carlos Gamino, un Desarrollador Web Full Stack de Xalapa,
        Veracruz, graduado de la Universidad Veracruzana
      </p>
      <p>
        +2 años en el mundo de la programación. Soy un apasionado de los
        videojuegos y el fútbol.
      </p>
      <p>Terminé una maestría en Ingeniería Electrónica y Computación.</p>
    </div>
  </div>
</section>

<style>
  img {
    width: 60ch;
    height: auto;
    margin: auto auto var(--size-fluid-2);
    object-fit: cover;
    padding: var(--size-fluid-2);
  }

  .about-content {
    display: grid;
    grid-template-columns: 1fr;
  }

  p {
    max-width: 60ch;
    font-size: var(--font-size-1);
    word-wrap: break-word;
    margin: auto;
  }

  .about-text {
    padding: var(--size-fluid-2);
    margin: auto;
  }

  .about-text p:first-child {
    text-indent: 2ch;
  }

  .about-text p:nth-child(2) {
    text-indent: 2ch;
    margin-top: var(--size-fluid-2);
  }

  @media (min-width: 1024px) {
    img {
      width: 100%;
      margin: 0;
    }

    .about-content {
      grid-template-columns: 1fr 1fr;
    }

    .about-me-actions {
      max-width: 45ch;
    }

    p {
      max-width: 45ch;
    }
  }
</style>
