---
import { Image } from "astro:assets";
import myDesktop from "@images/desktop.jpg";
import { getLangFromUrl, useTranslations } from 'src/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="container" id="about">
  <h2>{t('about.title')}</h2>
  <div class="about-content">
    <Image src={myDesktop} alt={t('about.photoAlt')} height={720} width={1277} />
    <div class="about-text">
      <p>
        {t('about.text1')}
      </p>
      <p>
        {t('about.text2')}
      </p>
      <p>{t('about.text3')}</p>
    </div>
  </div>
</section>

<style>
  img {
    width: 60ch;
    height: auto;
    margin: auto auto var(--size-fluid-2);
    object-fit: cover;
    padding: var(--size-fluid-2);
  }

  .about-content {
    display: grid;
    grid-template-columns: 1fr;
  }

  p {
    max-width: 60ch;
    font-size: var(--font-size-1);
    word-wrap: break-word;
    margin: auto;
  }

  .about-text {
    padding: var(--size-fluid-2);
    margin: auto;
  }

  .about-text p:first-child {
    text-indent: 2ch;
  }

  .about-text p:nth-child(2) {
    text-indent: 2ch;
    margin-top: var(--size-fluid-2);
  }

  @media (min-width: 1024px) {
    img {
      width: 100%;
      margin: 0;
    }

    .about-content {
      grid-template-columns: 1fr 1fr;
    }

    .about-me-actions {
      max-width: 45ch;
    }

    p {
      max-width: 45ch;
    }
  }
</style>
