---
import InputText from "./InputText.astro";
import Textarea from "./Textarea.astro";
import { Icon } from "astro-icon/components";

const contactMeLinks = [
  {
    href: "https://github.com/gamino97",
    icon: "simple-icons:github",
    name: "Github",
  },
  {
    href: "https://www.linkedin.com/in/carlos-alfredo-gamino-aparicio",
    icon: "simple-icons:linkedin",
    name: "LinkedIn",
  },
];
---

<section class="container" id="contact-me">
  <h2>Contáctame</h2>
  <div class="contact-wrapper">
    <ul>
      {
        contactMeLinks.map((link) => (
          <li>
            <a href={link.href} class="icon-link">
              <Icon name={link.icon} width={256} height={256} />
              <span class="sr-only">{link.name}</span>
            </a>
          </li>
        ))
      }
    </ul>
    <form action="https://formspree.io/f/mzbqykka" method="POST">
      <InputText placeholder="Nombre" label="Nombre" name="name" />
      <InputText
        placeholder="Correo electrónico"
        label="Correo electrónico"
        name="email"
        type="email"
      />
      <Textarea label="Mensaje" placeholder="Mensaje" name="message" />
      <div class="form-action">
        <button class="btn btn-primary" type="submit">Enviar</button>
      </div>
    </form>
  </div>
</section>

<style>
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: var(--size-fluid-1);
    justify-content: space-around;
    margin: 0 0 var(--size-fluid-4);
  }

  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: var(--size-3);
  }

  button {
    text-transform: uppercase;
  }

  .form-action {
    display: flex;
    justify-content: flex-end;
  }

  li {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  li:nth-child(2) {
    grid-column-start: initial;
    grid-row-start: initial;
  }

  .icon-link {
    background-color: hsl(var(--accent3) / 100%);
    border-radius: var(--radius-2);
    aspect-ratio: 1/1;
    height: var(--size-fluid-6);
    display: inline-block;
  }

  .icon-link:hover {
    background-color: hsl(var(--accent3) / 70%);
  }

  [data-icon] {
    margin: auto;
    padding: var(--size-1);
    mask-composite: exclude;
    color: hsl(var(--bkg));
  }

  @media (min-width: 768px) {
    li:nth-child(2) {
      grid-column-start: 2;
      grid-row-start: 2;
    }

    .contact-wrapper {
      flex-direction: row;
    }

    ul {
      width: 50%;
      display: inline-grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      margin: 0;
    }

    form {
      width: 50%;
    }

    .icon-link {
      height: var(--size-fluid-7);
    }
  }
</style>
