---
import InputText from "./InputText.astro";
import Textarea from "./Textarea.astro";
import { Icon } from "astro-icon/components";
import { getLangFromUrl, useTranslations } from "src/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const contactMeLinks = [
  {
    href: "https://github.com/gamino97",
    icon: "simple-icons:github",
    name: "Github",
  },
  {
    href: "https://www.linkedin.com/in/carlos-alfredo-gamino-aparicio",
    icon: "simple-icons:linkedin",
    name: "LinkedIn",
  },
];
---

<section class="container" id="contact-me">
  <h2>{t("contactMe.title")}</h2>
  <div class="contact-wrapper">
    <ul>
      {
        contactMeLinks.map((link) => (
          <li>
            <a href={link.href} class="icon-link">
              <Icon name={link.icon} />
              <span class="sr-only">{link.name}</span>
            </a>
          </li>
        ))
      }
    </ul>
    <form action="https://formspree.io/f/mzbqykka" method="POST">
      <InputText
        placeholder={t("contactMe.nameInput")}
        label={t("contactMe.nameInput")}
        name="name"
      />
      <InputText
        placeholder={t("contactMe.emailInput")}
        label={t("contactMe.emailInput")}
        name="email"
        type="email"
      />
      <Textarea
        label={t("contactMe.messageInput")}
        placeholder={t("contactMe.messageInput")}
        name="message"
      />
      <div class="form-action">
        <button class="btn btn-primary" type="submit"
          >{t("contactMe.submitButton")}</button
        >
      </div>
    </form>
  </div>
</section>

<style>
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: var(--size-fluid-1);
    justify-content: space-around;
    margin: 0 0 var(--size-fluid-4);
  }

  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: var(--size-3);
  }

  button {
    text-transform: uppercase;
  }

  .form-action {
    display: flex;
    justify-content: flex-end;
  }

  li {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  li:nth-child(2) {
    grid-column-start: initial;
    grid-row-start: initial;
  }

  .icon-link {
    background-color: hsl(var(--accent3) / 100%);
    border-radius: var(--radius-2);
    aspect-ratio: 1/1;
    height: var(--size-fluid-6);
    display: inline-block;
  }

  .icon-link:hover {
    background-color: hsl(var(--accent3) / 70%);
  }

  [data-icon] {
    margin: auto;
    padding: var(--size-1);
    mask-composite: exclude;
    color: hsl(var(--bkg));
    width: 100%;
    height: 100%;
  }

  @media (min-width: 768px) {
    li:nth-child(2) {
      grid-column-start: 2;
      grid-row-start: 2;
    }

    .contact-wrapper {
      flex-direction: row;
    }

    ul {
      width: 50%;
      display: inline-grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      margin: 0;
    }

    form {
      width: 50%;
    }

    .icon-link {
      height: var(--size-fluid-7);
    }
  }
</style>
