---
import { Icon } from "astro-icon";
---

<footer>
  <p>Hecho con 🚀Astro |&nbsp;</p>
  <a href="https://github.com/gamino97/portfolio" class="">
    Código Fuente&nbsp;
    <Icon width={15} name="mdi:external-link" />
  </a>
</footer>

<style>
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--size-3) var(--size-5);
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(var(--accent2));
  }

  a:hover {
    text-decoration: underline;
  }
</style>
