---
import { Icon } from "astro-icon/components";
import { getLangFromUrl, useTranslations } from "src/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer>
  <p>{t("footer.text")} |&nbsp;</p>
  <a href="https://github.com/gamino97/portfolio" class="">
    {t("footer.source")}&nbsp;
    <Icon width={15} height={15} name="mdi:external-link" />
  </a>
</footer>

<style>
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--size-3) var(--size-5);
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(var(--accent2));
  }

  a:hover {
    text-decoration: underline;
  }
</style>
