---
import "../styles/Hero.css";
---

<section>
  <img src="/photo.jpg" alt="My picture" width="128" height="128" />
  <div>
    <h1>Carlos Gamino</h1>
    <h2>Full Stack Web Developer</h2>
  </div>
</section>
