<section class="container">
  <img src="/photo.jpg" alt="My picture" width="128" height="128" />
  <div>
    <h1>Carlos Gamino</h1>
    <h2>Full Stack Web Developer</h2>
    {/*Github and Resume */}
  </div>
</section>
<style>
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  img {
    --size: 250px;

    border-radius: 50%;
    height: var(--size);
    width: var(--size);
  }

  div {
    margin: var(--size-fluid-4);
  }

  h1 {
    font-weight: var(--font-weight-6);
  }

  @media (min-width: 1024px) {
    section {
      flex-direction: row;
      justify-content: space-evenly;
    }
  }

  h2 {
    color: hsl(var(--accent2) / 70%);
  }
</style>
