---
import myPhoto from "@images/photo.jpg";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import resume from "/curriculum-vitae-carlos-gamino.pdf";
import { getLangFromUrl, useTranslations } from "src/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="container">
  <Image
    src={myPhoto}
    alt={t("hero.pictureAlt")}
    width={1440}
    height={1918}
    loading="eager"
  />
  <div class="details">
    <h1>Carlos Gamino</h1>
    <h2>{t("hero.heroTitle")}</h2>
    <div class="buttons">
      <a class="btn btn-outline btn-tertiary" href={resume}>
        <Icon width={20} height={20} name="mdi:resume" />
        <span>{t("hero.resume")}</span>
      </a>
      <a
        class="btn btn-outline btn-tertiary"
        href="https://github.com/gamino97"
      >
        <Icon width={20} height={20} name="simple-icons:github" />
        <span>Github</span>
      </a>
    </div>
  </div>
</section>
<style>
  a {
    display: inline-flex;
    gap: var(--size-2);
    align-items: center;
    justify-content: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100svh;
  }

  img {
    --size: 300px;

    border-radius: 50%;
    height: var(--size);
    width: var(--size);
    object-fit: cover;
  }

  .details {
    margin: var(--size-fluid-4);
  }

  .buttons {
    display: flex;
    gap: var(--size-4);
    margin-top: var(--size-fluid-3);
  }

  h1 {
    font-weight: var(--font-weight-6);
    text-align: center;
  }

  h2 {
    color: hsl(var(--accent2) / 70%);
    margin: 0;
  }

  @media (min-width: 1024px) {
    .container {
      flex-direction: row;
      justify-content: space-evenly;
    }

    h1 {
      text-align: initial;
    }
  }
</style>
