---
import Layout from "src/layouts/Layout.astro";
import Hero from "src/components/Hero.astro";
import AboutMe from "src/components/AboutMe.astro";
import Experience from "src/components/Experience.astro";
import MyWork from "src/components/MyWork.astro";
import ContactMe from "src/components/ContactMe.astro";
import Footer from "src/components/Footer.astro";
import Navbar from "src/components/Navbar.astro";
---

<Layout
  title="Carlos Gamino"
  description="Portfolio del desarrollador Carlos Gamino"
>
  <Navbar />
  <main>
    <Hero />
    <AboutMe />
    <Experience />
    <MyWork />
    <ContactMe />
  </main>
  <Footer />
</Layout>
